body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.navbar {
  position: relative;
  background: rgba(33, 1, 59, 0.822)!important;
  /* background-image: linear-gradient(to right, #052c47, #012241d0);
  background-color: #042c83;
  color: #042c83; */
}

.navbar .navbar-brand {
  color: #ffffff;
  font-size: 30px;
  font-weight: 200;
}

.navbar .navbar-text{
  text-transform: uppercase;
  font-weight: bold;
  color: #d2c1d8;
}

.navbar  .nav-link.active,
.navbar  .nav-link:hover{
  color: #f0eeee;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline-block;
}

ul li {
  margin: 3px;
  padding: 3px;
  border: 1px solid rgb(134, 131, 131);
  border-radius: 5px;
  display: inline-block;
}

/* ************Search Bar************* */

.searchTerm {
  border: 3px solid #00B4CC;
  padding: 5px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  border: 3px solid #00B4CC;
  background: #00B4CC;
  color: #fff;
  text-align: center;
  border-radius:0 5px 5px 0;
}